/* Common */

.text-wide {
    letter-spacing: 4px;
}

.text-tag {
    padding: 8px 16px;
    background-color: #000;
    color: #fff;
    opacity: 0.75;
}

.text-tag-strong {
    opacity: 1;
}

.text-inline {
    display: inline-block;
}

.pt-24 {
    padding-top: 24px;
}

.mlr-8 {
    margin-left: 8px;
    margin-right: 8px;
}


.mt-15 {
    margin-top: 15px;
}

.mt-16 {
    margin-top: 16px;
}

.mt-32 {
    margin-top: 32px;
}

.mb-32 {
    margin-bottom: 32px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-10 {
    margin-bottom: 10px;
}

.no-padding {
    padding: 0 0 !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding: 8px 8px;
}

.col-1 {
    width: 100%;
}

.col-4 {
    width: 25%;
}

.btn {
    display: block;
    text-decoration: none;
    white-space: normal;
    float: left;
    background-color: #fff;
    color: #000;
    padding: 8px 16px;
    font-size: 15px;
    line-height: 1.5;
    text-align: center;
    border: none;
    outline: none;
    max-width: 100%;
    min-width: 50px;
    cursor: pointer;
}

.btn:hover {
    color: #000;
    background-color: #ccc;
}

.btn-full {
    width: 100%;
}

.btn-gray {
    background-color: #f1f1f1;
}

.btn-black {
    background-color: #000;
    color: #fff;
}

.img {
    max-width: 100%;
    height: auto;
    display: block;
    border-style: none;
}

.img-gray {
    filter: grayscale(80%);
}

hr {
    opacity: 0.2;
    box-sizing: content-box;
    width: 1100px;
    max-width: 100%;
    margin-bottom: 10px;
}

/* Main */

.navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #fff;
    color: #000;
    padding: 8px 16px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.header {
    position: relative;
    max-width: 1500px;
}

.header__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 0 0 1px #000;  
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 36px;
    font-weight: 400;
}

.content {
    padding: 8px 16px;
}

.content__section {
    padding: 0 16px;
    padding-top: 32px;
}

.content__heading {
    padding: 16px 0;
    margin-top: 10px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.project_item {
    position: relative;
}

.item_text {
    position: absolute;
    top: auto;
    left: auto;
    font-weight: 300;
    line-height: 1.4;
}

.about__team {
    padding-top: 32px;
}

.member_title {
    opacity: 0.5;   
}

.form-control {
    padding: 8px;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    line-height: 1.5;
}

#footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 16px 0;
}

#footer p {
    margin: 15px 0;
    font-size: 15px;
}

#footer a {
    color: #fff;
}

#footer a:hover {
    color: #4CAF50;
}